.tempDrawer {
  padding-top: 3em;
}

.Container {
  text-align: center;
  background-color: rgb(255, 255, 255);
  size: 3rem;
  height: 10vw;
}

.Bar {
  font-size: 5vw; /* make our h1 tag larger */
  font-family: sans-serif; /* choosing our font */
  background: linear-gradient(
      to right,
      rgba(255, 215, 255, 0) 0%,
      rgba(225, 255, 255, 0.5) 20%,
      rgba(255, 255, 255, 0) 61% /* rgba(163, 158, 9, 0.745) 100% */
    ),
    linear-gradient(
      rgba(217, 105, 20, 0.881) 40%,
      rgb(97, 183, 217) 52%,
      rgb(224, 246, 255) 60%,
      rgb(78, 99, 132) 61%
    ); /* you can change the colors based on your preference */
  background-clip: text; /*it defines how far the background should extend within an element, here we set it to text */
  -webkit-background-clip: text; /*for browsers compatibility */
  -webkit-text-fill-color: transparent; /* specifies the fill color of text characters. We use transparent to use the background as our text fill  */
  animation: wave 5000ms ease alternate infinite;
  transition: all 0.8s ease;
}

@keyframes wave {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50vw 10px;
  }
}

.large-box {
  background-color: #f5f5f5;
  padding: 20px;
  padding-bottom: 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
}

.large-box h2 {
  margin-top: 0;
}

.inner-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic {
  width: 20vw;
}
.bottom-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  border-top: 1px solid #ddd;
  /* padding-top: 20px; */
}

.left-section,
.right-section {
  flex: 1;
}

.middle-section {
  width: 1px;
  height: 9vw;
  background-color: #6e6e6e43;
}

.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-section {
  margin-top: 0.5vw;
  /* padding-top: 1vw; */
  display: flex;
  width: auto;
  height: 8vw;
  justify-content: center;
  align-content: center;
}

.logo {
  width: auto;
  height: 100%;
}

.button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  height: 4vw;
}

@media screen and (max-width: 767px) {
  .pic {
    width: 50vw;
  }

  .Bar {
    font-size: 10vw;
  }

  .large-box {
    width: 100%;
    overflow-y: scroll;
  }

  .button {
    height: 6vw;
  }

  .right-section {
    width: 100%;
  }

  .left-section {
    height: 15vw;
  }

  .middle-section {
    height: 15.5vw;
  }
  /* .right-section {
    margin-top: 10vw;
    justify-content: right;
    width: 100%;
  } */
}
