.mobileHeader2 {
  display: flex;
  width: 100%;
  justify-content: center;
  border-top: 0.2px solid rgba(171, 171, 171, 0.777);
  border-bottom: 0.2px solid rgba(171, 171, 171, 0.777);
}

.dateRange {
  border: 1px solid rgba(0, 0, 0, 0.259);
}
